{% extends "backend/layout.html.twig" %}

{% block title %}管理者追加 登録画面{{ parent() }}{% endblock %}

{% block body %}
  <ol class="breadcrumb">
    <li class="active">Home</li>
    <li class="active">管理者一覧</li>
    <li class="active">管理者追加</li>
  </ol>

  <nav aria-label="...">
    <ul class="pager">
      <li class="previous"><a onclick="history.back()"><span aria-hidden="true">&larr;</span>戻る</a></li>
    </ul>
  </nav>

  <h4 class="page-header">管理者追加</h4>
  <form action="confirm.php" method="post" class="form-horizontal">
    <table>
      <tbody>
        <tr>
          <th>
            ユーザー名<span class="required">必須</span>
          </th>
          <td>
            <p class="info">半角英数字のみ可</p>
            <input type="text" name="user_name" class="form-control" placeholder="user1234">
          </td>
        </tr>
        <tr>
          <th>
            パスワード<span class="required">必須</span>
          </th>
          <td>
            <p class="info">半角英数字8文字以上</p>
            <input type="password" name="password" class="form-control">
          </td>
        </tr>
        <tr>
          <th>
            名前<span class="optional">任意</span>
          </th>
          <td>
            （姓）<input type="text" name="last_name" class="form-control short">
            （名）<input type="text" name="first_name" class="form-control short">
          </td>
        </tr>
        <tr>
          <th>
            備考<span class="optional">任意</span>
          </th>
          <td>
            <textarea rows="5" cols="" name="remarks" class="form-control"></textarea>
          </td>
        </tr>
      </tbody>
    </table>
    <input type="submit"　class="btn btn-primary" value="入力内容を確認する">
  </form>
  
{% endblock %}
