RewriteEngine On
RewriteCond %{REQUEST_URI} !^/.well-known/
RewriteCond %{REQUEST_URI} !/src/AppBundle/Controller/
RewriteCond %{REQUEST_URI} !^/web/
RewriteRule ^(.*)$ /src/AppBundle/Controller/$1 [L]
