{% extends "layout.html.twig" %}

{% block title %}TOP{{ parent() }}{% endblock %}

{% block body %}
  <div id="contents" class="cf">
    <aside class="contents_menu cf">
      <section id="contents_menu1">
        <h1>Contents Menu1</h1>
      </section>
      <section id="contents_menu2">
        <h1>Contents Menu2</h1>
      </section>
    </aside>
  </div>
{% endblock %}
