<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{% block title %} | adsearch.tokyo{% endblock %}</title>
  {% block stylesheets %}
    <link rel="stylesheet" href="/web/bootstrap-3.3.7-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/web/bootstrap-3.3.7-dist/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/web/css/style.css">
  {% endblock %}
</head>
<body>
  <div class="container">
    <header>
      <a href="#" class="site-logo"><h1 class="font-logo">adsearch.tokyo</h1></a>
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed"data-toggle="collapse"data-target="#navbarEexample8">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          </div>
          <div class="collapse navbar-collapse" id="navbarEexample8">
            <ul class="nav navbar-nav">
              <li><a href="#">メニューＡ</a></li>
              <li class="active"><a href="#">メニューＢ</a></li>
              <li><a href="#">メニューＣ</a></li>
            </ul>
            <p class="navbar-text navbar-right">ようこそ <a href="#" class="navbar-link">ゲスト</a> さん。</p>
          </div>
        </div>
      </nav>
    </header>
  </div>

  <div class="container body-container">
    {% block body %}{% endblock %}
  </div>

  <footer>
    <div class="container">
      <div class="row">
        <div id="footer-copyright" class="copyright">
          <p>© 2018 - The kkkk Project</p>
      </div>
      </div>
    </div>
  </footer>

  {% block javascripts %}
  {% endblock %}
</body>
</html>
