{% extends "backend/layout.html.twig" %}

{% block title %}メニュー{{ parent() }}{% endblock %}

{% block body %}
  <h4>メニュー一覧</h4>
  <div class="panel panel-default">
    <div class="panel-heading">管理者管理</div>
    <ul class="list-group">
      <li class="list-group-item">管理者一覧</li>
      <li class="list-group-item">Dapibus ac facilisis in</li>
      <li class="list-group-item">Morbi leo risus</li>
      <li class="list-group-item">Porta ac consectetur ac</li>
      <li class="list-group-item">Vestibulum at eros</li>
    </ul>
    <div class="panel-heading">Panel heading without title</div>
    <ul class="list-group">
      <li class="list-group-item">Cras justo odio</li>
      <li class="list-group-item">Dapibus ac facilisis in</li>
      <li class="list-group-item">Morbi leo risus</li>
      <li class="list-group-item">Porta ac consectetur ac</li>
      <li class="list-group-item">Vestibulum at eros</li>
    </ul>
  </div>
{% endblock %}
