@charset "utf-8";

@font-face {
  font-family: 'Sunflower-Light';
  src: url("../fonts/Sunflower-Light.ttf");
}

font-family: "游ゴシック",YuGothic,"ヒラギノ角ゴ ProN W3","Hiragino Kaku Gothic ProN","メイリオ",Meiryo,sans-serif;

footer {
  background: #ecf0f1;
  margin-top: 2em;
  padding-top: 2em;
  padding-bottom: 2em;
}

p {
  margin: 0;
  text-align: left;
}

a:hover {
  text-decoration: none;
}

.site-logo {
  text-align: center;
}

.font-logo {
  font-family: "Sunflower-Light";
  color: #333;
}

.container-fluid {
  padding-right: 0;
  padding-left: 0;
}

.row {
  margin-left: 0;
  margin-right: 0;
}

.event {
  text-align: center;
  padding-right: 0;
  padding-left: 0;
}

.event a {
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
}

.box-detail {
  padding: 5px 14px 18px 8px;
}

.event-name {
  font-size: 1.2em;
  margin-bottom: 10px;
}

.copyright {
  text-align: center
}

/**
 * レスポンシブ：グリッドレイアウトのグリッド間余白の調整
 ****************************************************************************/
@media (min-width: 768px) {
  .col-sm-6 {
    width: 50%;
  }
}
@media (min-width: 992px) {
  .col-md-4 {
    width: 33.33333333%;
  }
}
@media (min-width: 1200px) {
  .col-lg-3 {
    width: 25%;
  }
}
