@charset "utf-8";

@font-face {
  font-family: 'Sunflower-Light';
  src: url("../fonts/Sunflower-Light.ttf");
}

font-family: "游ゴシック",YuGothic,"ヒラギノ角ゴ ProN W3","Hiragino Kaku Gothic ProN","メイリオ",Meiryo,sans-serif;

footer {
  background: #ecf0f1;
  margin-top: 2em;
  padding-top: 2em;
  padding-bottom: 2em;
}

footer .container {
  width: 1140px;
  margin-right: auto;
  margin-left: auto;
  padding: 0;
}

.copyright {
  text-align: center;
}

h5 {
  border-bottom: solid 1px darkgray;
  padding-bottom: 10px;
  margin-bottom: 10px;
  font-size: 24px;
}

h6 {
  border-left: solid 3px darkgray;
  padding-left: 10px;
  margin-bottom: 15px;
  font-size: 18px;
}

.box-detail p {
  margin: 0;
  text-align: left;
}

a:hover {
  text-decoration: none;
}

table {
  width:100%;
  margin:10px auto 10px;
  font-size:1em;
  line-height:1.4;
}

tr {
  border:1px solid #e1dfe0;
  padding: 30px 0;
}

th {
  background:#f1f1f1;
  font-weight:normal;
  width:25%;
  text-align:left;
  font-size: 1em
}

th, td {
  padding:15px 12px;
  vertical-align:middle;
  text-align: left;
  line-height: 1.2;
}

table td p {
  /* margin: 0; */
}

dt {
  margin-bottom: 5px;
}
dd {
  margin: 10px 0 10px 15px;
}

.site-logo {
  text-align: center;
}

.font-logo {
  font-family: "Sunflower-Light";
  color: #333;
}

.container-fluid {
  padding-right: 0;
  padding-left: 0;
}

.row {
  margin-left: 0;
  margin-right: 0;
}

.event {
  text-align: center;
  padding-right: 0;
  padding-left: 0;
}

.event a {
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
}

.box-detail {
  padding: 5px 14px 18px 8px;
}

.event-name {
  font-size: 1.2em;
  margin-bottom: 10px;
}

.copyright {
  text-align: center
}

@media (min-width: 992px) {
  #eventDetailArea {
    width: 800px;
  }
}

#googleMap {
  height: 300px;
}


/**
 * レスポンシブ：グリッドレイアウトのグリッド間余白の調整
 ****************************************************************************/
@media (min-width: 768px) {
  .col-sm-6 {
    width: 50%;
  }
}
@media (min-width: 992px) {
  .col-md-4 {
    width: 33.33333333%;
  }
}
@media (min-width: 1200px) {
  .col-lg-3 {
    width: 25%;
  }
}
