@charset "utf-8";

@font-face {
  font-family: 'Sunflower-Light';
  src: url("../fonts/Sunflower-Light.ttf");
}

font-family: "游ゴシック",YuGothic,"ヒラギノ角ゴ ProN W3","Hiragino Kaku Gothic ProN","メイリオ",Meiryo,sans-serif;

footer {
  background: #ecf0f1;
  margin-top: 2em;
  padding-top: 2em;
  padding-bottom: 2em;
}

.font-logo {
  font-family: "Sunflower-Light";
}

.site-logo {
  text-align: center;
}

.event {
  text-align: center;
  border: solid 1px;
}

/* .container {
  width: 970px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
} */

.copyright {
  text-align: center
}

.row {
  margin-left: -15px;
  margin-right: -15px;
}
