h4 {
  margin-top: 30px;
  margin-left: 10px;
}
button a {
  text-decoration: none;
}
button a:link  {  
  text-decoration: none;   
}  
button a:visited   {  
  text-decoration: none;  
}  
button a:hover {  
  text-decoration: underline;  
}  
button a:active    {  
  text-decoration: none;  
} 

footer {
  background: #ecf0f1;
  margin-top: 2em;
  padding-top: 2em;
  padding-bottom: 2em;
}

span.required { 
  color:#b91111;
  border: 1px solid #b91111;
  padding: 2px;
  font-size: 0.8em;
  margin-left: 5px;
  display: inline-block;
}

span.optional {
  color: #333;
  border: 1px solid #999;
  padding: 2px;
  font-size: 0.8em;
  margin-left: 5px;
}

table {
	width:100%;
	margin:10px auto 10px;
	font-size:1em;
  line-height:1.4;
}

tr {
  border:1px solid #e1dfe0;
  padding: 30px 0;
}

th {
	background:#f1f1f1;
	font-weight:normal;
	width:25%;
	text-align:left;
	font-size: 1em
}

th, td {
	padding:15px 12px;
	vertical-align:middle;
	text-align: left;
	line-height: 1.2;
}

input[name="last_name"],
input[name="first_name"] {
  display: inline;
}

input[type="text"].wide {
  width: 100%;
}
input[type="text"].middle {
  width: 50%;
}
input[type="text"].short {
  width: 25%;
}

input[type="submit"] {
    display: block;
    margin: 0 auto;
}

.error-area {
  width: 100%;
  height: auto;
  border: 2px solid red;
  background-color: rgb(252, 233, 233);
}
.error-area ul {
  padding-top: 10px;
}

.navbar {
  background-color: #2c3e50;
  border-color: transparent;
  position: relative;
  min-height: 60px;
  margin-bottom: 21px;
  border: 1px solid transparent;
  border-radius: 0;
}

.navbar-brand {
  color: white;
}

.nav-menu {
  color: white;
}

.container {
  width: 970px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.big-container {
  min-height: 600px;
}

.copyright {
  text-align: center
}

.row {
  margin-left: -15px;
  margin-right: -15px;
}

.info {
  color: #0b0bd8;
  margin-top: 0;
  margin-bottom: 10px;
}

.previous a {
  cursor: pointer;
}

.button-center {
  display: block;
  width: 150px;
  margin: 0 auto;
}

/* モーダルウィンドウで表示する要素（通常時は非表示） */
#modalTemplate {
  display: none;
}
/* オーバーレイ要素のスタイル */
#modalOverlay {
  top: 0;
  left: 0;
  width: 100%;
  position: fixed;
  z-index: 97;
  background: #000;
  display: none;
}
/* モーダルウィンドウ全体のスタイル */
#modalWindow {
  margin-top: -200px;
  margin-left: -170px;
  top: 50%;
  left: 50%;
  width: 350px;
  height: 200px;
  position: fixed;
  z-index: 98;
  background: #fff;
  display: none;
}
/* モーダルウィンドウ内の閉じるボタンのスタイル */
#modalWindow > .modalClose {
  top: -15px;
  right: -15px;
  width: 30px;
  height: 30px;
  line-height: 30px;
  color: #fff;
  font-size: 1.5em;
  background: #757575;
  border-radius: 30px;
  box-shadow: 0 0 3px 0 #000;
  position: absolute;
  z-index: 99;
  cursor: pointer;
  text-align: center;
}
/* コンテンツエリアのスタイル */
#modalContents {
  margin: 30px auto;
  padding: 0 20px;
  width: 100%;
  height: 340px;
  box-sizing: border-box;
  overflow-y: auto;
}
#modalContents p {
  padding-bottom: 2em;
  font-size: 1em;
  text-align: center;
  margin-top: 30px;
}